

#root > div > div:nth-child(1) > div > div{
	font-family: 'Courgette', cursive;
	font-size: 14.5vw;
	display: flex;
	justify-content: center;
	margin-top: 200px;
}


#root > div > div:nth-child(1) > div > h3{
	font-family: 'Alata', sans-serif;
	color: #6A8E7F;
	font-size: 28px;
}
